<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	
	 <servlet>
		<servlet-name>CreationContact</servlet-name>
		<servlet-class>Servlets.CreationContact</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreationContact</servlet-name>
		<url-pattern>/CreationContact</url-pattern>
	</servlet-mapping>
	
	
</web-app>


