<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.jpsx</param-value>
  	</context-param>
	
	
	
</web-app>


 <!-- <servlet>
		<servlet-name>PageAcceuil</servlet-name>
		<servlet-class>Servlets.PageAcceuil</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>PageAcceuil</servlet-name>
		<url-pattern>/PageAcceuil</url-pattern>
	</servlet-mapping> -->